@media screen and (min-width: 1301px) {
    #request, #main-info, #accordion, #myTab, .chat-container, #chat, #dialogue {
        width: 1200px;
    }
}

@media screen and (max-width: 1300px) {
    #request, #main-info, #accordion, #myTab, .chat-container, #chat, #dialogue {
        width: 1100px;
    }

    #chat input, #dialogue input {
        width: 900px;
    }
}

@media screen and (max-width: 1200px) {
    #request, #main-info, #accordion, #myTab, .chat-container, #chat, #dialogue {
        width: 950px;
    }

    #chat input, #dialogue input {
        width: 750px;
    }

    #request {
        flex-wrap: wrap;
    }

    #request #teleconsultation {
        margin-left: 0 !important;
    }

    #request #request-buttons {
        margin-top: 10px;
    }

    #LPU-name {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    #background {
        min-height: 1366px;
        background: url("../images/human-skeleton-adaptive-ipad.png") no-repeat top center;
    }

    #request, #main-info, #accordion, #myTab, .chat-container, #chat, #dialogue {
        width: 800px;
    }

    #chat input, #dialogue input {
        width: 600px;
    }
}

@media screen and (max-width: 900px) {
    #header a {
        width: 155px;
    }
}

@media screen and (max-width: 850px) {
    #header {
        flex-wrap: wrap;
    }

    #header #logo-container #name, #header a, #header #user {
        font-size: 14px;
        width: 135px;
    }

    #background {
        min-height: 1000px;
    }

    #request, #main-info, #accordion, #myTab, .chat-container, #chat, #dialogue {
        width: 700px;
    }

    #chat input, #dialogue input {
        width: 500px;
    }

    #LPU-name {
        font-size: 13px;
    }

    #status-info {
        font-size: 32px;
    }

    label {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    #header {
        justify-content: center;
    }

    #header a {
        width: 150px;
    }

    #logo-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #background {
        background: url("../images/human-skeleton-adaptive.png") no-repeat top center;
    }

    #user #user-name {
        order: 2;
    }

    #user i {
        margin-left: 0 !important;
        margin-right: 10px;
    }

    #request, #main-info, #accordion, #myTab, .chat-container, #chat, #dialogue {
        width: 600px;
    }

    #chat input, #dialogue input {
        width: 400px;
    }

    #request-buttons .btn-primary {
        width: 180px;
    }

    .main-header {
        font-size: 20px;
    }

    #status-info {
        font-size: 26px;
    }

    .history-time, .message-1, .message-2 {
        font-size: 14px;
    }

    .message-container-1 .message-1, .message-container-2 .message-2 {
        max-width: 400px;
    }
}

@media screen and (max-width: 640px) {
    #logo-container {
        width: 220px;
        justify-content: left;
        margin: 0 10px;
    }

    #header #contacts-container {
        flex-wrap: wrap;
        width: 340px;
        order: 2;
    }

    #header #logo-link {
        margin: 0 0 10px 0;
    }

    #header #contacts-container i {
        margin-bottom: 15px;
    }

    #header a {
        width: 135px;
        margin-bottom: 15px;
    }

    #request, #main-info, #accordion, #myTab, .chat-container, #chat, #dialogue {
        width: 400px;
    }

    #chat input, #dialogue input {
        width: 375px;
    }

    #request-buttons .btn-primary {
        width: 220px;
    }

    #request-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #request #reject, #request #help {
        margin: 10px 0 0 0;
    }

    .main-header {
        font-size: 16px;
    }

    .nav-item {
        width: 400px;
    }

    .nav-tabs .nav-link {
        margin: 0;
    }

    .nav-tabs {
        margin-bottom: 20px;
    }

    #main-info {
        flex-wrap: wrap;
    }

    #status-info {
        height: 50px;
    }

    #send-form-chat-message, #send-form-chat-checkboxes {
        display: flex;
        flex-wrap: wrap !important;
    }

    #send-form-chat-message {
        justify-content: flex-end;
    }

    #send-form-dialogue {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    #send-form-chat button, #send-form-dialogue button {
        margin: 10px 0 0 0;
    }

    .message-container-1 .message-1, .message-container-2 .message-2 {
        max-width: 250px;
    }

    .history-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .history-time {
        display: flex;
        justify-content: center;
        width: 350px;
        max-width: 350px;
    }

    .history-date {
        margin-right: 10px;
    }

    .history-action {
        margin: 10px 0 5px 0;
        text-align: center;
    }

    #LPU-name {
        font-size: 16px;
        height: auto;
        padding: 10px;
    }

    #send-form-chat-checkboxes label {
        display: block;
    }

    #send-form-chat-checkboxes label input {
        vertical-align: middle;
    }
}

@media screen and (max-width: 480px) {
    #header #logo-container {
        margin: 0;
    }

    #header #contacts-container {
        order: 1;
        width: 170px;
        margin: 0 95px;
        text-align: center;
    }

    #header button {
        order: 2;
        margin: 0 0 10px 0 !important;
    }

    #header #user {
        order: 2;
    }

    #header #user i {
        font-size: 30px;
    }

    #request, #main-info, #accordion, #myTab, .chat-container, #chat, #dialogue {
        width: 300px;
    }

    #chat input, #dialogue input {
        width: 275px;
    }

    .message-container-1 .message-1, .message-container-2 .message-2 {
        max-width: 200px;
    }

    .chat-container {
        height: 300px;
    }

    #accordion .btn, .card-body {
        font-size: 14px;
    }

    #status-info {
        font-size: 24px;
    }

    #request-info {
        flex-wrap: wrap;
        justify-content: center;
    }

    #request-date {
        margin-left: 0;
    }

    #background {
        background-size: auto 2300px;
        background: url("../images/human-skeleton-adaptive2.png") no-repeat top center;
    }
}

@media screen and (max-width: 360px) {
    #header #contacts-container {
        margin: 0 75px;
    }

    #request, #main-info, #accordion, #myTab, .chat-container, #chat, #dialogue {
        width: 280px;
    }

    #chat input, #dialogue input {
        width: 255px;
    }

    .message-container-1 .message-1, .message-container-2 .message-2 {
        max-width: 180px;
    }

    #accordion .btn {
        font-size: 13px;
    }
}