@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoRegular.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold.ttf");
}

#background {
    padding: 50px 0;
    background: url("../images/human-skeleton.png") no-repeat top center;
    min-height: 1024px;
}

#header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.1);
}

#header #logo-container #logo-link {
    display: flex;
    align-items: center;
    width: auto;
}

#header #logo-container #logo-link:hover {
    text-decoration: none;
}

#header #settings-container {
    display: flex;
    align-items: center;
}

#header #logo-container #logo {
    width: 70px;
}

#header #logo-container #name {
    width: 150px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin-left: 10px;
    color: #1D4674;
}

#header i {
    font-size: 24px;
    color: #3685E2;
}

#header a {
    width: 175px;
    font-size: 16px;
    font-family: "RobotoBold", sans-serif;
    color: #1D4674;
    margin-left: 10px;
}

#header a:hover {
    text-decoration: none;
}

#header #contacts-container {
    display: flex;
    align-items: center;
}

#header #user {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "RobotoBold", sans-serif;
}

#header #user i {
    font-size: 40px;
    margin-left: 10px;
    color: #1D4674;
}

#list-container {
    max-width: 1200px;
    margin: 0 auto;
}

.list-group {
    font-size: 18px;
}

.tab-pane {
    display: flex;
    flex-wrap: wrap;
}

.tab-pane span, a {
    width: 100%;
    font-family: "Roboto", sans-serif;
}

#list-consultations #new-consultation {
    width: 100%;
    height: 51px;
    background-color: #1D4674;
    border-color: #1D4674;
    border-radius: 20px;
    font-family: "RobotoBold", sans-serif;
    color: white;
}

.consultation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid #1D4674;
    border-radius: 20px;
    font-family: "RobotoBold", sans-serif;
    color: #1D4674;
    margin: 10px 0;
    padding: 0 30px;
}

.consultation i {
    font-size: 50px;
}

.consultation-info {
    display: flex;
    align-items: center;
}

.consultation-info-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}

.consultation-info .consultation-number {
    font-size: 16px;
    font-family: "RobotoBold", sans-serif;
    color: #1D4674;
}

.consultation-info .consultation-time {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #1D4674;
}

.consultation-info .consultation-status {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "RobotoBold", sans-serif;
    color: #1D4674;
    margin-top: 10px;
}

.consultation-info .consultation-status i {
    font-size: 7px;
    margin: 0 5px 0 0;
}

.consultation .form-group {
    margin-bottom: 0;
}

.consultation .consultation-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
}

.consultation .consultation-button button {
    border-radius: 20px;
    width: 200px;
    background-color: #1D4674;
    border-color: #1D4674;
    font-family: "RobotoBold", sans-serif;
}

.consultation a {
    font-size: 12px;
    font-family: "RobotoBold", sans-serif;
    color: #1D4674;
    width: auto;
    margin-top: 5px;
}

.consultation a:hover {
    text-decoration: none;
    cursor: pointer;
}

.pagination {
    justify-content: center;
    margin-top: 30px;
}

.page-item {
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid #1D4674;
    border-radius: 10px;
    margin: 0 5px;
}

.page-link, .page-link span {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: "RobotoBold", sans-serif;
    color: #1D4674;
}

.page-link:hover {
    background-color: rgba(255, 255, 255, 0);
}

.page-link span:hover {
    color: #3685E2;
}

.page-link:focus {
    box-shadow: none;
}

#show {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    width: 250px;
}

#show i {
    margin: 0 10px 0 50px;
}

#show-categories {
    display: flex;
    justify-content: center;
    width: 100%;
}

#list-container2 {
    width: 100%;
    margin-top: 20px;
}

#row2 {
    display: flex;
    flex-wrap: wrap;
}

#col-3-2 {
    flex: none;
    max-width: none;
}

#list-tab2 {
    flex-direction: row;
}

#col-9-2 {
    margin-top: 10px;
    flex: 100%;
    max-width: 100%;
}

#list-answered-list, #list-seen-list, #list-draft-list, #list-find-list {
    font-size: 14px;
    text-align: center;
    width: 170px;
    padding: 5px 20px;
}

#input-find, #list-settings #settings input {
    font-size: 16px;
    border-radius: 20px;
    width: 250px;
    background-color: rgba(54, 133, 226, 0.1);
    font-family: "Roboto", sans-serif;
}

#list-find {
    display: none;
    justify-content: center;
}

#list-find #input-find-button button {
    border-radius: 20px;
    width: 100px;
    background-color: #3685E2;
    border-color: #3685E2;
    font-family: "RobotoBold", sans-serif;
    margin-left: 20px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
    outline: 0;
}

.btn-primary:focus {
    box-shadow: none;
    border-color: #3685E2;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
    border-color: #3685E2;
}

.btn-primary:hover {
    border-color: #3685E2;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
}

#list-settings span, #list-settings a {
    display: none;
}

.list-group-item:hover {
    background-color: inherit;
}

.list-group-item.active {
    background-color: #1D4674;
    border-color: #1D4674;
    border-radius: 20px;
    font-family: "RobotoBold", sans-serif;
    margin-top: 0 !important;
}

.list-group-item {
    background-color: inherit;
}

.list-group-item-action {
    color: #1D4674;
    border: none;
    font-family: "RobotoBold", sans-serif;
}

.list-group-item-action:hover {
    color: #3685E2;
}

.list-group-item.active:hover {
    color: white;
}

.bold {
    font-family: "RobotoBold", sans-serif !important;
}

#list-program #program-text span, a {
    width: 100%;
    font-family: "Roboto", sans-serif;
}

#list-program #program-text a {
    font-family: "RobotoBold", sans-serif;
    color: #3685E2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "RobotoBold", sans-serif;
    margin-top: 10px;
}

#list-program {
    display: none;
    justify-content: center;
}

#list-program #program-text {
    display: flex;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 20px;
    padding: 20px;
    border: 3px solid #1D4674;
}

#list-study {
    display: none;
    font-size: 18px;
    justify-content: center;
    text-align: center;
}

#list-study iframe {
    box-shadow: 3px 3px 10px 4px #00000061;
}

#list-settings {
    display: none;
    text-align: center;
    justify-content: center;
}

#list-settings div {
    width: 100%;
}

.list-program-list {
    cursor: pointer;
}

#list-settings #settings {
    font-size: 16px;
    font-family: "RobotoBold", sans-serif;
    background-color: rgba(255, 255, 255, 0.50);
    width: 600px;
    height: 500px;
    border: 3px solid #1D4674;
    border-radius: 20px;
    padding: 30px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

#list-settings #settings div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#list-settings #settings div div {
    display: flex;
    align-items: center;
    width: 250px;
}

#list-settings #settings #account-verify #verify #correct {
    width: auto;
}

#list-settings #settings #account-verify #verify #uncorrect {
    width: auto;
}

#list-settings #settings #account-verify #verify #correct i {
    color: green;
    margin-right: 10px;
}

#list-settings #settings #account-verify #verify #uncorrect i {
    color: red;
    margin-right: 10px;
}

#list-settings #verify {
    font-family: "Roboto", sans-serif;
    justify-content: center !important;
    margin: 12px 0;
    width: 250px;
}

#list-settings input {
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

#settings button {
    border-radius: 20px;
    width: 200px;
    background-color: #3685E2;
    border-color: #3685E2;
    font-family: "RobotoBold", sans-serif;
    margin-top: 20px;
}